.grid > div{
    width: 90%;
    background:#000;
    margin: auto;
    border-radius: 20px;
    color:#fff;
    font-weight:bold;
    padding:10px;
}
.grid2 div img{
    width: 100%;
    height: 140px;
}

.grid2 div{
    color:white;
    font-weight:bold;
    padding:10px;
    border-radius:5px;
    border: 2px solid orange;
}
.bbo{
    border-bottom: 2px solid #000;
}
.npage{
    width: 100%;
    height: 79vh;
    overflow: hidden;
}
.npage > iframe{
    width: 100%;
    height: 79vh;

}

.slider{
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top:20px;
    border: 2px solid green;
    border-radius: 5px;
    background: red;
    color:#fff;
    background: red;
}
.slider img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.carru{
    width: 90%;
    height: 75px;
    color:#fff;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
}

.rest{
    width: 90%;
    height: 200px;
    background: black;
    margin: auto;
    margin-top:30px;
}
.grid8 div img{
    width: 100%;
}

.grid8 div{
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    color:white;
    font-weight:bold;
    padding:10px;
    border-radius:5px;
}
.npage{
    overflow: scroll;
}